@import "compass/typography/vertical_rhythm";

$base-font-size: 14px;
$base-line-height: 23px;

@include establish-baseline;

body {
  font-size: inherit;
  line-height: inherit;
  @include margin-leader(1);
}
