@import 'modular-scale';

$base-font-size: 14px; // Scale origin
$base-line-height: 23px;
// http://modularscale.com/scale/?px1=14&px2=552&ra1=1.618&ra2=0
$base-size: $base-font-size 552px;
$ratio: golden_ratio();

$h1-font-size: ms(3);
$h2-font-size: ms(1);
$h3-font-size: ms(0);

$featured-text-header-font-size: ms(2);

$footer-header-font-size: $base-font-size;
$footer-font-size: ms(-1);

$menu-font-size: $base-font-size;
