/*$base-font-size: 14px;*/
/*$base-line-height: 23px;*/

/*$h1-font-size: 32px;*/
/*$h2-font-size: 20px;*/
/*$h3-font-size: 14px;*/

/*$featured-text-header-font-size: 25px;*/

/*$footer-header-font-size: $base-font-size;*/
/*$footer-font-size: 11px;*/

/*$menu-font-size: 13px;*/
// http://modularscale.com/scale/?px1=14&px2=552&ra1=1.618&ra2=0

$base-font-size: 14px;
$base-line-height: 23px;

$h1-font-size: 30px;
$h2-font-size: 19px;
$h3-font-size: 14px;

$featured-text-header-font-size: 22px;

$footer-header-font-size: $base-font-size;
$footer-font-size: 11.7px;

$menu-font-size: $base-font-size;
