<% content_for(:class_name, 'web-applications') %>

<div class='wrapper'>
  <div id='featured'><p><img src="/assets/webapps.png" title="Webapps" alt="Webapps" rel="225x255" width="225" height="183" /></p></div>
  <div class='large' id='featured_text'><h1>Outstanding quality</h1>
    <p>Kabisa is a full service web application development company focused on building world class web solutions using the best that technology has to offer. Our fanatic focus on software quality guarantees your application is reliable, easy maintainable and ready for the future.&#160;</p></div>
</div>
<div class='wrapper'>
  <div id='left_column'>
    <h2>Online business application development for your enterprise</h2>
    <p>Kabisa specializes in developing web applications. We practice&#160;Agile&#160;and leverage state-of-the art technology such as&#160;<a href="/services/ruby-on-rails" title="Ruby on Rails">Ruby on Rails</a>&#160;and <a href="/services/java-jee" title="Java &amp; JEE">Java/JEE</a>&#160;to attain maximum business results. Our team of black-belt knowledge experts has a solution for every IT issue. We deliver on-time and within budget. That is what makes Kabisa a flexible and reliable partner.</p>
    <p>In a modern business environment many IT systems are already in place. Kabisa can help your organization to seamlessly <a href="/services/system-integration" title="System integration">integrate</a> these systems to make them available online. Nothing is too complex, we love a challenge!&#160;</p>
    <p>Some examples of typical web applications are:</p>
    <ul>
      <li>Complex Administration Systems</li>
      <li>Electronic Invoicing</li>
      <li>Planning Systems</li>
      <li>Personal Health Systems</li>
      <li>Charting and Reporting Applications</li>
      <li>Complex Webshop including advanced Online Payment Processing</li>
      <li>Multimedia Content Management</li>
    </ul>
    <p>Do you have a (specific) question about web applications? Please, <a href="/contact" title="Contact">contact</a> us. We love to help you!</p>
  </div>
  <div id='right_column'>
    <blockquote class='testimonial'>
      <div class='quote'>Kabisa takes the longer term perspective in working with the customer, acting as a partner rather than a supplier. They listen and deliver.</div>
      <div class='quote_from'>Johan van der Stoel - Streamit</div>
    </blockquote>

    <h2>Featured projects & clients</h2>
    <div id='featured_projects'>
      <div class='div' id='viaviela'>
        <img alt="Viaviela Gastouderbureau" height="220" src="/assets/viaviela-ba24c9f6f114ff2fff1c64503399b6d1.png" width="300" />
        <h3>Viaviela Gastouderbureau</h3>
      </div>
      <div class='div' id='seacon'>
        <img alt="Seacon Logistics" height="220" src="/assets/seacon-72c24ad77f3206e0a0b6fce3f7b3908a.png" width="300" />
        <h3>Seacon Logistics</h3>
      </div>
      <div class='div' id='philips'>
        <img alt="DirectLife" height="220" src="/assets/directlife-02b613c44ef87ad286f2450520535241.png" width="300" />
        <h3>Philips DirectLife</h3>
      </div>
      <div class='div' id='limburger'>
        <img alt="Limburger" height="220" src="/assets/limburger-c0e8c8ce29f121060108bd1d01d33bef.png" width="300" />
        <h3>Limburger.nl</h3>
      </div>
    </div>
  </div>
</div>
